
body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

#title {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 16px;
    width: 100%;
    background-color: (0, 0, 0, 0.7);
    color: white;
    text-align: center;
    box-shadow: 2px 1px  10px rgba(201, 199, 199, 0.5);

    padding: 10px;
    z-index: 10;
    text-transform: capitalize;
    white-space: nowrap;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#page-number {
    position: fixed;
    bottom: 0px; /* Adjusted for the new input */
    left: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    z-index: 10;
}

#page-number #current-page{
    width: 40px;
    text-align: center;
}

#goto-input {
    max-width: 50%;
}

#goto-container {
    position: fixed;
    bottom: 0;
    text-wrap-mode: nowrap;
    left: 0;
    width: 100%;
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 11;
    max-height: 41px;;
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap; 
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

#pdf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 40px; /* Adjusted for the fixed elements */
    overflow-y: scroll;
    overflow-x: auto;
    width: 100%;
    margin-top: 45px;
}

#pdf-container > canvas {
    display: block;
    max-width: 100%;
}

#pdf-container > canvas:not(:last-child) {
    margin-bottom: 1rem;
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    display: none; /* Hide by default */
}